ion-content {
  background: radial-gradient(circle, rgba(247,117,174,1) 0%, rgba(148,187,233,1) 100%);
}

h2{
  color: black;
  font-family: fantasy;
  text-align: center;
}

p{
  color: black;
  font-family: sans-serif;
  text-align: center;
}